[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dateutil = "*"
numpy = "*"
matplotlib = "*"
requests = "*"
pandas = "*"
tensorflow = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
