absl-py==0.4.0
asn1crypto==0.24.0
astor==0.7.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cycler==0.10.0
Django==2.1
django-polls==0.1
gast==0.2.0
grpcio==1.12.1
idna==2.7
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.3
mkl-fft==1.0.4
mkl-random==1.0.1
numpy==1.15.1
protobuf==3.6.0
psycopg2==2.7.5
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyreadline==2.1
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
sip==4.19.12
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
tornado==5.1
urllib3==1.23
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2
